*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }

 body{
    font-family: "Lato", sans-serif; 
    font-weight: 200;
    padding: .1rem 2rem;
    box-sizing: border-box;
    line-height: 1.7;

 }

 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 10vh;
     
 }
 main {
     display: flex;
     height: 80vh;
     
 }

 .logo-box{
   display: flex;
   align-items: center;
   width: auto;
   height: 100%;
 }

 .menu_button{
     height: auto ;
     width: 1.3rem;
     
 }

 .hero{
     margin-left: 1.9rem;
     width: 6.2rem;
     height: 3.2rem;
 }

 .search{
     display: flex;
     
     margin-left: -5rem;
     width: 48%;
 }
 .search__button{
     display: flex;
     height: 2.1rem;
     width: 4rem;
 }

 .search__input{
    width: 100%;
    font-family: inherit;
    font-size: 1.2rem;
    padding: 0.2rem 0.6rem;

 }

 .search__icon{
    display: flex;
    margin-left: .9rem;
    
    width: 1rem;
    height: 1.2rem;
 }

 .icon__side{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .material-icons{
     margin-left: 1.8rem;
    font-size: 1.4rem;
 }

 .material-icons:nth-child(4){
    font-size: 2.4rem;
 }


 
 